header{
	color: #D0D0D0 ;
}

h1{
	padding-top: 5px;
	padding-bottom: 5px;
}

h3{
}


hr { display: block; height: 1px;
    border: 0; border-top: 1px solid #39bcd8;
    margin: 1em 0; padding: 0; }

body{
	background: url(../resources/tabletop-homescreen.png) center;
}


ul{
	
	list-style: none;
}

li{
	padding: 3px 0px;
}

.align-left{
	text-align: left;
}

.min-width{
/*reparar a min width do site */		
}

.clear-padding{
	padding: 0 0 0 0;
}

#tocar{
	list-style-type: none;
}

#conta_titulo{
	font-size: 13pt;
}

#conta_talao{
	color: #000;
	font-size: 11pt;
	padding: 0 35% 3% 20%;
	margin-top: 20%;
	background: url(../resources/textura-papel.jpg) center;
}


#title{
	margin-top: 1%;
	margin-left: 5% ;
	font-family: 'Open Sans', sans-serif;
}

#barista{
	margin-left: 30%;
}

.ajuda{
	padding-left: 4%;
	color: #fff;
	font-size: 12pt;
}

#fillerdiv{
	color: #D0D0D0;
	margin-left: 6%;
}

#mensagemAC{
	vertical-align: top;
	font-size: 10pt;
	padding: 2% 2% 2% 2%;
}

.musicas{
	text-align:left;
	padding-left: 4%;
	padding-top: 	2%;
	padding-bottom: 2%;
}

.votar_bt{
	padding-right: 20px;
	text-align: right;
	float: right;
}

.titulo_ementa{
	font-size: 22px;
}

.menu{
	padding-right: 3.6px;
	padding-bottom: 3%;
}

.arcondicionado {
	vertical-align: middle;
	padding: 0 5px 0 5px;
	font-size: 20px;
    display: inline; 
}

#ementa_tabela{
	margin-top: 20px;
	padding-bottom: 4%;
	border-width: 2px;
	border-style: groove;
	border-color: #D0D0D0;
	color: white;
	background: url(../resources/menu-background.jpg) center;
}

#musica_tabela{
	border-width: 2px;
	border-style: groove;
	border-color: #D0D0D0;
	color: white;
	display: block;
	background: url(../resources/menu-background.jpg) center;
}



