header{
	color: #D0D0D0 ;
}

h1{
	padding-top: 5px;
	padding-bottom: 5px;
}

hr { display: block; height: 1px;
    border: 0; border-top: 1px solid #39bcd8;
    margin: 1em 0; padding: 0; }

body{
	background: #050b11 url(../resources/tabletop-homescreen.png) no-repeat center center fixed;
 	background-size: contain;
}


ul{
	
	list-style: none;
}

li{
	padding: 3px 0px;
	list-style: none;
}

.align-left{
	text-align: left;
}

.clear-padding{
	padding: 0 0 0 0;
}

#tocar{
	list-style-type: none;
}

#conta_titulo{
	text-align: center;
	padding-bottom: 20%;
	font-size: 12pt;
}

#lista_bebidas, #lista_comidas, .li_cursor_m{
	cursor: move;
}

#conta_talao{
	font-size: 11pt;
	padding-top:  2%;
	border-width: 2px;
	border-style: groove;
	padding-bottom: 30%;
	color: white;
	background: url(../resources/menu-background.png) center;
}

#detalhesConta{
	padding: 0.5em 0.7em;
}

#botoesConta{
	margin-top: 3%;
	margin-right:auto;
}

#title{
	margin-top: 0%;
	margin-bottom: 2%;
	margin-left: 5% ;
	font-family: 'Open Sans', sans-serif;
}

#barista{
	margin-left: 30%;
}

.ajuda{
	cursor: help;
	color: #fff;
	font-size: 12pt;
}

#fillerdiv{
	color: #D0D0D0;
	margin-left: 6%;
}

#mensagemAC{
	vertical-align: top;
	font-size: 10pt;
	padding: 2% 2% 2% 2%;
}

.align-middle{
	vertical-align: middle;
}

.musicas{
	text-align:left;
	padding-left: 4%;
	padding-top: 1%;
	padding-bottom: 1%;
}

.votar_bt{
	cursor: pointer;
	padding-right: 20px;
	text-align: right;
	float: right;
}

.titulo_ementa{
	font-size: 22px;
}

.center{
	text-align: center;
}

.menu{
	cursor: pointer;
	padding-right: 3.6px;
	padding-bottom: 3%;
}

.arcondicionado {
	cursor: pointer;
	vertical-align: middle;
	padding: 0 5px 0 5px;
	font-size: 20px;
    display: inline; 
}

#ementa_tabela{
	margin-top: 20px;
	padding-bottom: 4%;
	border-width: 2px;
	border-style: groove;
	border-color: #D0D0D0;
	color: white;
	background: url(../resources/menu-background.png) center;
}

#musica_tabela{
	border-width: 2px;
	border-style: groove;
	border-color: #A8E8EE;
	color: white;
	display: block;
	background: url(../resources/menu-background.png) center;
}

#area_arrasto {
	padding-top: 4%;
}

.stitched {
   padding: 4px;
   margin: 2px;
   background: #808080 ;
   color: #fff;
   font-size: 13pt;
   border: 2px dashed #fff;
   border-radius: 2px;  
}

.flash-blue{
	color: #05f;
}

.flash-white {
	color:#FFFFFF;
}

.#dialogCorpoConta li div.text {
    display: block;
    float: left;
    width: 165px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-transition: width .2s ease;
    -moz-transition: width .2s ease;
    -o-transition: width .2s ease;
    -ms-transition: width .2s ease;
    transition: width .2s ease;
}

/* ------------------------------ Drag 'n Drop jQuery -----------------------*/

 
/** style for droppable content **/
.droppable { 
}
 
/** style for draggable content **/
.draggable{ 
}
 
.active {
	color: #0066FF;
}

/** style when an object is moving hover **/
.hoverClass{
    background:#339bfb;
    color:#ffffff;
}
 
/** style for droppable when the moveable object is dropped **/
.dropClass{
    background:#55d532;
}
 
/** clear the float used by other draggable and moveable objects **/
.clear{
    clear:both;
}



/* ------------------------------- */


.basket.hover .basket_list { background-color: #ffa0a3 }

/* .head */

.basket .head {
    overflow: hidden;
    margin: 0 10px;
    height: 26px;
    line-height: 26px;
    border-bottom: 1px solid #ddd;
}

.basket .head .name { float: left }

.basket .head .count { float: right }

/* .head */

.basket ul { 
    padding-bottom: 10px;
    padding-left: 0px;
}

.basket ul li {
    position: relative;
    clear: both;
    overflow: hidden;
    margin: 0 10px;
    height: 26px;
    text-align: left;
    line-height: 32px;
    border-bottom: 1px dashed #eee;
}

.basket ul li:hover { border-bottom-color: #ccc }


.basket ul li span.name {
    display: block;
    float: left;
    width: 165px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    -webkit-transition: width .2s ease;
    -moz-transition: width .2s ease;
    -o-transition: width .2s ease;
    -ms-transition: width .2s ease;
    transition: width .2s ease;
}

.basket ul li:hover span.name { }

.basket ul li input.count {
    float: right;
    margin: 3px 2px 0 0;
    width: 25px;
    line-height: 20px;
    text-align: center;
    border: 0;
    border-radius: 3px;
    background-color: #ddd;
}

.basket ul li button.delete {
    float: right;
    right: 30px;
    top: 7px;
    vertical-align: middle;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity = 0);
    opacity: 0;
    width: 20px;
    line-height: 20px;
    height: 20px;
    text-align: center;
    font-size: 11px;
    border: 0;
    color: #EE5757;
    background-color: #eee;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: opacity .2s ease;
    -moz-transition: opacity .2s ease;
    -o-transition: opacity .2s ease;
    -ms-transition: opacity .2s ease;
    transition: opacity .2s ease;
}

.basket ul li button {
    margin-right: 1%;
    float: right;
    right: 30px;
    top: 7px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity = 0);
    opacity: 0;
    width: 20px;
    line-height: 20px;
    height: 20px;
    text-align: center;
    font-size: 11px;
    border: 0;
    color: #EE5757;
    background-color: #eee;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition: opacity .2s ease;
    -moz-transition: opacity .2s ease;
    -o-transition: opacity .2s ease;
    -ms-transition: opacity .2s ease;
    transition: opacity .2s ease;
}

.basket ul li:hover button.delete,
.basket ul li:hover button.add,
.basket ul li:hover button.sub {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity = 100);
    opacity: 1;
}

.basket ul li button.delete :hover,
.basket ul li button.add :hover,
.basket ul li button.sub :hover {
    color: #fff;
    background-color: #ffa0a3;
}

.basket ul li button.delete :active,
.basket ul li button.add :active,
.basket ul li button.sub :active {
    color: #fff;
    background-color: #EE5757;
}
