header{
	color: #D0D0D0 ;
}

#title{
	margin-top: 5px;
	margin-left: 5px;
	font-family: 'Open Sans', sans-serif;
}

.menu{
	padding-right: 3.6px;
}

.arcondicionado {
	padding: 0 5px;
	font-size: 20px;
    display: inline; 
}

#ementa_tabela{
	margin-top: 20px;
	border-width: 2px;
	border-style: groove;
	border-color: #D0D0D0;
	color: white;
	display: inline-block;
	background: url(../resources/menu-background.jpg) center;
}

.tabela_titulo{
	color: white;
	font-size: 18px;
	padding-bottom: 10px;
	text-align: center;
}

.col1{
	padding-left: 80px;
	padding-right: 90px;
}


body{
	background: url(../resources/tabletop-homescreen.png) center;
}